.alert {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  h1 {
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem;
  }
  
  button {
    border-radius: 8px;
  }

  .navbar img {
    margin: 0;
    padding: 0;
  }

  .navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  